.legend{
    width: 296px;
    height: 80px;
  }

.lengend th, tr, td{
  text-align: center;
}
  
.legend th{
    max-width: 36px;
    overflow: hidden;
    font-size: 14px;
    font-family: "Hind";
    font-weight: 400;
    color: #263238;
}

.legend td{
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.legend img{
  width: 36px;
  height: 36px;
}